.App {
  display: grid;
  grid-template-columns: 10% [working-area-leading] 25% auto 25% [working-area-trailing] 10%;
  grid-template-rows: 10% [working-area-top] 25% auto 25% [working-area-bottom] 10%;
}

.working-area {
  grid-column-start: working-area-leading;
  grid-column-end: working-area-trailing;
  grid-row-start: working-area-top;
  grid-row-end: working-area-bottom;
}
