.search-result {
  background-color: white;
  cursor: pointer;
  height: 7vh;
  line-height: 7vh;
  vertical-align: middle;
  margin: 1vh;
}

/* when a hover class is added the background color changes to give the appearance of highlighting the result */
.hover {
  background: #fbe09d !important;
  border-radius: 3px;
}

.search-result-text {
  display: inline;
  padding-left: 1.7%;
  margin: 0;
}
