#search-results-box {
  border-color: black;
  border-width: 10px;
  overflow: scroll;
  max-height: 500px;
  background-color: white;
}

.spinner {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  border-radius: 50%;
  border-top: 5px solid grey;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s ease-in;
  animation: spin 1s ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
