#search-results-box {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: scroll;
  max-height: 40.8vh;
  background-color: white;
}

#results-footer {
  font-size: small;
  text-align: center;
  font-weight: bold;
}
